body{
    margin: 0;
    padding: 0;
}

#banner{
    width: 728px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    overflow: hidden;
    
}

.size{
    width: 728px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

.opacity0{
    opacity: 0;
}

#bannerBorder{
    width: 728px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black;
    box-sizing: border-box;
}
